name: Static Analysis

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:

  fmt:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Run Rustfmt
      run: cargo fmt -- --check

  clippy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install Rust Nightly
      uses: actions-rs/toolchain@v1.0.7
      with:
        toolchain: nightly
        override: true
        profile: minimal
        components: clippy

    - name: Run Clippy
      run: cargo clippy --workspace --all-targets -- -D warnings

